@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    color: white;

    font-family: "Poppins", sans-serif;
}

.linea_central {
    width: 3px;
    height: 100vh;
    position: absolute;
    background-color: red;
    right: 50vw;
}


body {
    background-color: #393939;
    overflow-x: hidden;
}

.cont_global {

    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.cont_logo {
    width: 50%;
    padding: 1.375rem;
}

.cont_degradado {
    background: linear-gradient(45deg, #76BDFF, #76D6FF);
    height: 100%;

    border-radius: 35px;

    display: flex;
    align-items: center;
    justify-content: center;



}

.cont_degradado p {
    position: absolute;
    white-space: nowrap;
    transform: rotate(90deg);
    transform-origin: top left;
    left: 0;


}

.texto {
    position: absolute;
    left: 50%;
    transform: rotate(-90deg) translateX(-50%);
    transform-origin: center;
    font-size: 2em;
    color: white;
    white-space: nowrap;
    pointer-events: none;
}

.cont_login {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cont_login h1 {
    margin-bottom: 3rem;
    font-size: 3.3rem;
}

.loginInput {
    border: none;
    background-color: #575757;
    text-align: center;
    color: WHITE;
    border-radius: 0.813rem;
    padding: 10px;

    width: 25.200rem;
    height: 3.2rem;

    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 400;
}

.loginInput::placeholder {
    font-family: "Lexend", sans-serif;
    font-size: 1.5rem;
    color: #C0C0C0;
}

.cont_login button {
    width: 13.600rem;
    height: 2.7rem;
    border: none;

    border-radius: 15px;
}

.loginButton {
    background-color: #76D6FF;
    color: #393939;
    font-family: "Lexend", sans-serif;
    margin-top: 3rem;

    font-size: 1.35rem;
    font-weight: 500;

    margin-bottom: 1rem;

}

.goregisterButton {
    background-color: #575757;
    color: #76D6FF;
    font-family: "Lexend", sans-serif;

    font-size: 1.35rem;
    font-weight: 500;

}

.loginbody {
    overflow: hidden;
}

/* NAVBAR */
.navbar {
    height: 6rem;
    width: 100vw;
    padding: 1rem;

}

.navbar_test {
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #76BDFF, #76D6FF);

    border-radius: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.opt_navbar {
    text-decoration: none;

    padding-right: 1.6rem;
    padding-left: 1.6rem;

}

.text_navbar {
    font-size: 1.8rem;
    font-weight: 600;

    margin: 0;

}

.navbar_selected {
    font-size: 2.7rem;


}


.pfp_navbar {

    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 1.5rem;



}

.pfp_navbar img {
    border-radius: 400px;
    height: 75%;
    width: 75%;

}

/* PERFIL */

.cont_info_perfil{
    width: 30%;
    height: fit-content;
    padding-left: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 1rem;

}

.pfp_perfil{
    border-radius: 100%;
    aspect-ratio: 1;
    cursor: pointer;

    height:  32vh;

    min-width: 8rem;
    min-height: 8rem;
}


.info_perfil{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;

    

    position: relative;
}
.usernmae_perfil{
    text-align: center;
    width: 100%;
}
.mensaje_edit{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.3rem;
}
.mensaje_edit p{
    margin: 0;
    margin-left: 0.1rem;
    font-size: 0.8rem;
}

.mensaje_edit img{
    height: 1.3rem;
}
.edit_button{
    position: absolute;
    top: 3rem;
    right: 2rem;
    height: 3rem;
    width: 3rem;

    border-radius: 100%;
    
    background-color: #76BDFF;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}
.edit_button img{
    height: 2rem;
}

.yes{
    color: rgb(0, 216, 0);
}
.cont_tabla_perfil{
    height: 75vh;
    width: 70%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
    position: relative;
}

.cont_perfil_global{
    display: flex;
    flex-direction: row;

}


.title_tabla_perfil{
    margin-bottom: 2rem;
}



.level_name_perfil{
    cursor: pointer;
    transition: all 0.5s;
}

.level_name_perfil h5{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.level_name_perfil:hover{
    background-color: rgb(75, 75, 75);
}







/* LEVELS */

.cont_ranking_global{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.cont_ranking_global div{
    background: linear-gradient(45deg, #76BDFF, #76D6FF);
    border-radius: 1rem;
    padding: 1.5rem;
}

.cont_levels {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 1rem;
    margin-top: 2rem;
    padding-left: 10%;
    padding-right: 10%;
}

.level {
    display: flex;
    align-items: center;
    justify-content: center;

}

.level_url {
    background: linear-gradient(45deg, #76BDFF, #76D6FF);
    aspect-ratio: 1 / 1;
    width: 70%;
    max-width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    text-decoration: none;
    font-weight: 600;
}

.level_url p {
    font-size: clamp(1rem, 2.5vw, 3rem);
}

@media (max-width: 600px) {
    .cont_levels {
        padding: 0.5rem;
        gap: 0.5rem;
    }
}


/* LEVEL */

.cont_level_content {
    display: flex;
    flex-direction: row;
}

.cont_level_record {
    height: 75vh;
    width: 35%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding-top: 1rem;
}

.record {
    width: 80%;
    height: 100%;

    border: 5px solid #76BDFE;
    border-radius: 24px;


    display: flex;
    flex-direction: column;
    align-items: center;
}

.record img {
    border-radius: 200px;
    height: 10vw;
    width: 10vw;
    margin-top: 1rem;
    margin-bottom: 0.6rem;
}

.time_record {
    font-size: 4vw;
}

.record h1 {
    font-weight: 600;
    margin-top: 1rem;
}

.cont_tabla_level {
    height: 75vh;
    width: 65%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
    position: relative;

}

.cont_tabla_level h1 {}

.num_top {
    font-size: 1.8rem;
    font-weight: 600;

    margin: 0;
}

.tabla {
    height: calc(100% - 7rem);
    width: 100%;

}

.titulos_tabla {
    display: flex;
    flex-direction: row;

    border-bottom: 1px solid white;
    padding-bottom: 0.5rem;
}

.titulos_tabla div {
    text-align: center;
}

.titulos_tabla div h3 {
    margin: 0;
    font-weight: 500;
}
.img_intento{
    aspect-ratio: 1;
}
.filas {
    height: calc(100% - 3rem);
}

.fila {
    width: 100%;
    height: 20%;
    max-height: 5.5rem;
    min-height: 3rem;

    border-bottom: solid white 1px;

    display: flex;
    flex-direction: row;
}


.fila div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.fila div p {
    margin-bottom: 0;
    font-size: 1.3rem;
}

.fila div img {

    height: 70%;
    border-radius: 100px;
    margin-right: 1rem;
}


.cont_paginador {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 0;
    padding-top: 1.3rem;

}

.paginador {
    width: 40%;
    height: 2.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 0.6rem;

}

.paginador div {
    cursor: pointer;

}

.paginador div img {
    width: 2rem;
}


.esfera_paginador {
    height: 2.5rem;
    width: 2.5rem;
    min-width: 2.5rem;

    border-radius: 100px;
    background-color: #76BDFE;

    display: flex;
    align-items: center;
    justify-content: center;


}

.esfera_paginador2 {
    height: 2.5rem;
    width: 2.5rem;
    min-width: 2.5rem;

    border-radius: 100px;
    border: solid 4px #76BDFE;

    display: flex;
    align-items: center;
    justify-content: center;
}


.esfera_paginador p {
    margin: 0;
    font-weight: 700;
    color: #393939;
    font-size: 1.4rem;

    margin-top: 3px;
}

.esfera_paginador2 p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 3px;


}



.cont_spinner {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner-custom {
    color: white;
    /* Tu color personalizado */

}


/* COMENTARIOS NIVELES*/

.cont_comentarios{
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.cont_enviar_comentario{

    width: 50%;
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    align-items: start;

    max-width: 40rem;
}
.cont_enviar_comentario div{
    padding-left: 1rem;

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.cont_enviar_comentario div button{
    width: fit-content;
}
textarea:focus {
    outline: none;
}
.cont_enviar_comentario textarea{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding-bottom: 0;
    width: 100%;
    overflow: hidden;
    border-bottom: 2px solid white;
}

.pfp_enviar_comentario{
    height: 70px;
    aspect-ratio: 1;

    border-radius: 100%;
}
.cont_comentarios_coments{

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.button_enviar_coment{
    background-color:#76BDFE;
    color: #393939;
    font-weight: 700;
    border: none;

    margin-top: 0.5rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
    border-radius: 10px;

    font-size: 1.1rem;
}

.comentario{
    width: 50%;
    max-width: 40rem;

    border: 3px solid #76BDFE;
    padding-top: 1rem;
    margin-top: 3rem;
    border-radius: 20px;
    padding-left: 1rem;

    min-height: 5rem;
    overflow-wrap: break-word; /* Rompe palabras largas */
    padding-right: 1rem;
    
}
.comentario_compelto{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cont_responder{
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 1rem;
    
    cursor: pointer;
}

.cont_responder p{
    margin: 0;
    margin-left: 0.5rem;
    margin-top: 2px;
    font-weight: 500;
}
.cont_responder img{
    height: 1.1rem;
}
.cont_replie{
    width: 50%;
    max-width: 40rem;

    display: flex;
    justify-content: end;
    position: relative;
}
.cont_pfp_usuario_tabla{
    display: flex;
    align-items: start;
    justify-content: start;

    cursor: pointer;

    transition: all 0.5s;
}

.cont_pfp_usuario_tabla:hover{
     background-color: rgb(75, 75, 75);

}


.replie{
    width: 80%;
    border: 3px solid #76BDFE;
    padding-top: 1rem;
    margin-top: 1.5rem;
    border-radius: 20px;
    padding-left: 1rem;

    min-height: 5rem;
}

.expand_repleis{
    margin-top: 0.5rem;
    margin-bottom: 0;

    cursor: pointer;
    font-weight: 600;
    color: #b9b9b9;

    display: none;
}
.linea_replie{
    height: 100%;
    top: 0;
    left:   12%;
    position: absolute;

    width: 4px;
    cursor: pointer;
    background-color: #6E6E6E;
}
.info_user_comentario{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;

    width: 100%;
}
.info_user_comentario h3{
    margin-bottom: 0;

    font-size: 1.3rem;
}
.info_user_comentario p{
    margin: 0;
    margin-left: 0.6rem;
    margin-bottom: 3px;
    font-weight: 600;

    color: #c7c7c7;
}
.info_user_comentario img{
    height: 3.2rem;
    border-radius: 100%;
    aspect-ratio: 1;
    margin-right: 0.7rem;
}

.cont_text_area_respuesta{
    width: 50%;
    max-width: 40rem;
    position: relative;
    display: flex;
    justify-content: end;
}

.cont_text_area{
    height: 100%;
    width: 80%;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;

    align-items: start;
}


.cont_text_area textarea{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding-bottom: 0;
    width: 100%;
    overflow: hidden;
    border-bottom: 2px solid white;
}

.cont_text_area div{
    padding-left: 1rem;

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

/* MARQUEE */
.marquee {
    overflow: hidden;
    display: flex;
}

.marquee h1 {
    font-size: 1.6em;
    white-space: nowrap;
    padding-right: 1rem;
    text-transform: uppercase;


}